* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --backgroundColour1: white;
    --backgroundColour2: #333;
    --fontColour1: #000;
    --fontColour2: #999;
    --fontStyle1: "Herr Von Muellerhoff";
    --fontStyle2: "Quattrocento Sans";
    --fontStyle3: "Oswald";
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
}

body {
    font-family: "Quattrocento Sans";
    font-size: 16px;
}

.logo {
    font-family: var(--fontStyle1);
    font-weight: 400;
    text-align: center;
}

ul {
    list-style: none;
}

/* --------------------Header----------------- */

#head {
    display: flex;
    flex-direction: column;
}

#head .promo {
    background-color: var(--backgroundColour2);
    height: 88px;
    text-align: center;
    width: 100%;
}

#head .promo p {
    color: #fff;;
    font-family: var(--fontStyle2);
    margin-top: 32px;
}

#head h1 {
    font-size: 70px;
    margin-top: 32px;
}

#head .title p {
    text-align: center;
    margin-bottom: 32px;
}


/* -------------------------Menu----------------------------- */

#head #mainMenu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#head #mainMenu i {
    display: none;
}

#head #mainMenu ul li{
    display: flex;
    list-style: none;
}

#head #mainMenu ul li a {
    color:var(--fontColour1);
    font-family: var(--fontStyle3);
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 8px;
}

#head #mainMenu ul li a:hover {
    color: yellow;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.selected {
    color: yellow;
}

#mainMenu {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    padding: 32px;
    width: 80%;
}

/* ------------------- Page content  --------------------*/


#projects .photoRow {
    display: flex;
    width: 80%;
    margin-top: 16px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
}

#projects .photoRow figure img {
    margin: 8px;
    width: 96%;
}

#projects .photoRow figure figcaption {
    font-size: 0.6rem;
    font-style: italic;
    margin-left: 8px;
      
}

#projects .photoRow figure figcaption {
    word-spacing: 8px;
}

#projects .photoRow figure h3 {
    font-family: var(--fontStyle3);
    font-size: 1rem;
    font-weight: 400;
    margin-left: 8px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

#projects .photoRow figure figcaption:hover,
#projects .photoRow figure h3:hover {
    opacity: 0.5;
}

#photoNavigation {
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 56px;
}

#photoNavigation a {
    align-items: center;
    background-color: #999;
    color: white;
    font-size: 0.8rem;
    font-weight: 700;
    justify-content: center;
    margin: 8px;
    padding: 5px 11px;
    text-decoration: none;
    width: 16px;
}

#photoNavigation a:hover {
    transition: 0.3s;
    background-color: yellow;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

/* ----------------------------footer------------------------ */


footer .promo {
    display: flex;
    background-color: var(--backgroundColour2);
    flex-direction: column;
    height: 128px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    text-align: center;
}

footer .promo h2 {
    font-size: 2.8rem;
    margin-top: 32px;
}

footer .promo p {
    padding-bottom: 16px;
}

/*------------------- Contact -------------------------*/

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact .map {
    width: 100%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}

#contact .map iframe {
    display: block;
    width: 100%;
    height: 100%;
}

#contact .contactInfo {
    display: flex;
    margin-bottom: 16px;

}

#contact .contactInfo form {
    display: flex;
    flex-direction: column;
}

#contact .contactInfo label {
    display: inline-block;
    width: 64px;
    vertical-align: top;
}
#contact .contactInfo .left,
#contact .contactInfo .right {
    margin-left: 32px;
    width: 50%;
}

#contact .contactInfo .left h4 {
    margin-bottom: 16px;
}

#contact .contactInfo p {
    margin-top: 8px;
}

#contact .contactInfo p input[type="text"],
#contact .contactInfo p input[type="email"],
#contact .contactInfo p textarea {
    background-color: #333;
    width: 50%;
    padding: 8px;
}

#contact .contactInfo p input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 8px 16px;
    text-transform: uppercase;
    margin-bottom: 32px;
}

/* --------------------------------Slider------------------------------- */

#slider {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.nivo-controlNav {
    margin-bottom: 32px;
}

.nivo-caption {
    background-color: transparent;
    color: white;
    top: 0%;
    left: 0%;
    font-size: 250%;
    text-align: left;
}



/* --------------------media queries----------------------- */

@media screen and (max-width: 567px)  {
    #head {
        width: 100%;
    }

    #head #mainMenu {
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #head #mainMenu i {
        font-size: 32px;
        color: #000;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 16px;
    }

    #head #mainMenu ul {
        display: none;
    }

    #head #mainMenu ul li {
        justify-content: center;
    }

    #projects .photoRow {
        flex-wrap: wrap;
    }

    #projects .photoRow figure img{
        width: 96%;
    }

    #projects .photoRow figure h3 {
        margin-bottom: 8px;
    }

    figcaption {
        margin-bottom: 16px;
    }

    #contact .map iframe {
        padding: 32px;
    }

    #contact .contactInfo {
        flex-wrap: wrap;
    }

    #contact .contactInfo p input[type="text"],
    #contact .contactInfo p input[type="email"],
    #contact .contactInfo p textarea {
        width: 100%;
    }

    #contact .contactInfo .left,
    #contact .contactInfo .right {
        width: 70%;
        margin: 32px auto;
    }

    #contact .contactInfo .right {
        width: 40%;
        justify-content: center;
    }

    #slider,
    .nivo-controlNav {
        display: none;
    } 
}